@import "../theme.scss";

.container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.name {
  font-size: 5vw;
  font-family: "Archivo Black", sans-serif;
  color: $black;
}

.title {
  font-size: 4vw;
  font-family: "Archivo Black", sans-serif;
  color: $redOrange;
}

.subtitle {
  font-size: 40px;
  font-family: "Archivo Black", sans-serif;
  margin-right: 15px;
  color: $redOrange;
}

.divider {
  width: 100px;
  background-color: $redOrange;
  height: 5px;
  margin: 8px 0px;
}

.pageTitle {
  font-size: 4vw;
  font-family: "Archivo Black", sans-serif;
}

.pageContainer {
  width: 100vw;
}

.titleContainer {
  padding: 16px 64px;
}

.description {
  padding: 120px 64px;
  width: 50vw;
  font-size: 1.5vw;
  margin: auto;
  text-align: center;
}

.nickname {
  font-size: 2vw;
  color: $redOrange;
  font-weight: bolder;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 32px;
}

.card {
  width: 30%;
  margin-top: 32px;
}

.cardTitle {
  display: block;
  font-size: 1.5vw;
  color: $redOrange;
  text-align: center;
  font-weight: bolder;
}

.projContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.m-3{
  margin: 8px
}

.skillsContainer{
  width: 100vw; 
  display: flex;
  justify-content: "center";
  align-items: "center";
  margin-bottom: 50px;
}

.skillsContainer span{
  color: $black;
  font-size: 2vw;
}

.skillsContainer > div{
  margin: auto;
  text-align: center;
  max-width: 40vw;
}


@media screen and (max-width: 900px) {
 
  .name {
    font-size: 12vw;
  }
  
  .title {
    font-size: 10vw;
  }
  
  .subtitle {
    font-size: 8vw;
  }

  .pageTitle {
    font-size: 8vw;
  }

  .titleContainer {
    padding: 16px;
  }

  .skillsContainer > div{
    max-width: 100vw;
  }

  .skillsContainer span{
    font-size: 6vw;
  }

  .description {
    padding: 64px 8px;
    width: 80%;
    font-size: 6vw;
  }

  .nickname {
    font-size: 8vw;
    font-weight: bolder;
    padding: 60px 16px;
  }
}
