@import "../theme.scss";

.divider {
  width: 100px;
  background-color: $redOrange;
  height: 5px;
  margin: 16px 0px;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 10;
  transition: all 0.3s ease;
}

.backdropHidden {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 10;
  transition: all 0.3s ease;
  pointer-events: none;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  height: 10vh;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
}

.intial {
  margin-right: 16px;
  color: $redOrange;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  width: 32px;
  align-items: center;
  position: relative;
  margin: 0 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.iconGreen {
  background-color: $green;
  color: $white;
}

.iconGreen:hover {
  opacity: 0.5;
}

.tooltip {
  background-color: $black;
  color: $white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 4px;
  position: absolute;
  bottom: -45px;
}

.nav {
  display: block;
  font-weight: bolder;
  font-size: 2.5vw;
  color: $white;
  cursor: pointer;
  position: relative;
  padding-left: 0px;
  transition: all 0.5s ease;
  text-decoration: none;
}

.navSelected {
  color: $redOrange;
}

.nav:hover {
  padding-left: 32px;
}

.sidebar {
  height: 100vh;
  width: 50vw;
  background-color: $black;
  position: absolute;
  right: 0px;
  transition: all 0.3s ease;
  z-index: 1000
}

.sidebarHidden {
  right: -50vw;
}

.caption1 {
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  font-size: 1vw;
}

.spacer {
  padding: 60px 0px;
  width: 70%;
  margin: auto;
}

.caption2 {
  font-size: 2vw;
  color: $white;
  font-weight: 700;
  margin-top: 32px;
  letter-spacing: 2px;
}

.caption3 {
  display: block;
  margin: 40px 0px;
  text-transform: uppercase;
  color: $white;
  font-size: 1.5vw;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: $green;
}

.imgContainer {
  width: 40vw;
  height: 40vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer:hover {
  box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
    cursor: pointer;
}

.img {
  width: 120%;
  height: 120%;
  transition: all ease .5s
}

.imgHovered {
  width: 130%;
  height: 130%;
  transition: all ease .5s
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba($color: $black, $alpha: .8);
}

.detailsContainer {
  width: 100%;
  height: 100%;
  margin: 32px
}

.projContainer{
  display: flex;
  flex-direction: row;
  margin: 16px;
}

.projDetails{
  width: 30vw;
  padding: 0px 32px;
}

.projTitle {
  color: $black;
  font-size: 2vw;
}

.projDescription {
  color: gray;
  font-size: 14;
  padding-right: 32px;
}

.chips {
  font-size: 12px;
  background-color: $redOrange;
  color: $white;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
}

.btn {
  display: block;
  margin: 32px 16px 0px 0px;
  color: $white;
  background-color: $green;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  filter: brightness(110%);
}

.btnContainer {
  display: flex;
  flex-direction: row;
}

.footer{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 900px) {
  .sidebarHidden {
    display: none;
  }
  .sidebar {
    width: 80vw;
  }
  .spacer {
    padding: 30px 0px;
    width: 80%;
    margin: auto;
  }
  .caption1 {
    font-size: 14px;
  }
  .caption3 {
    font-size: 18px;
    margin: 32px 0px;
  }
  .caption2 {
    font-size: 18px;
  }
  .nav {
    font-size: 6vw;
    font-weight: bolder;
  }
  .tooltip {
    display: none;
  }
  .iconGreen:hover {
    opacity: 1;
  }

  .projDetails{
    width: 100%;
    padding: 0px;
    margin-top: 32px;
  }

  .imgContainer {
    width: 100%;
    height: 200px;
  }

  .projContainer{
    margin: 32px 8px 8px 8px;
  }

  .projTitle {
    font-size: 5vw;
    padding-top: 32px;
    font-weight: bolder;
  }
}