@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap");
@import "./theme.scss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0px;
  margin: 0px;
  box-sizing: "border-box";
  overflow-x: "hidden";
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

.cursorGrow {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid $black;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  transition: all 0.3s ease;
}

.cursorGrowNav {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid $white;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  transition: all 0.3s ease;
  transition-property: "border, height, width";
  filter: invert(50%);
}

.cursor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid $black;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: "border, height, width";
  transform-origin: 100% 100%;
  z-index: 1000;
  filter: invert(75%);
}

.cursorDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $black;
  position: absolute;
  transform: translate(-35%, -35%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: "border, height, width";
  transform-origin: 100% 100%;
  z-index: 1000;
}

.cursorDotHidden {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: $black;
  position: absolute;
  transform: translate(-35%, -35%);
  pointer-events: none;
  transition: all 0.2s ease;
  transition-property: "border, height, width";
  transform-origin: 100% 100%;
  z-index: 1000;
}

.arrow {
  color: $white;
  margin: 16px 20px;
  opacity: 1;
  transition: all 0.2s ease;
}
.arrowHidden {
  opacity: 0;
  transition: all 0.2s ease;
}


@media screen and (max-width: 900px) {
  .cursorGrow {
    display: none;
    
  }
  
  .cursor {
    display: none;
  }
  
  .cursorDot {
    display: none;
  }
  
  .cursorDotHidden {
    display: none;
  }

  .name {
    font-size: 12vw;
  }
  
  .title {
    font-size: 10vw;
  }
  
  .subtitle {
    font-size: 8vw;
  }
  .container {
    max-height: 90vh;
  }
}